.completed {
  text-decoration: line-through;
}

#main{
  display: flex;
  justify-content: center;
}

#container{
  border: 1px solid black;
  box-shadow: #333 3px 3px 5px;
  width: auto;
  height: auto;
  padding: 30px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 24px;
}

input{
  display: block;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 20px;
  outline-style: none;
  font-size: 20px;
}

select {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 20px;
  outline-style: none;
  font-size: 20px;
  background-color: transparent;
}

input[type=submit] {
  width: 25%;
  font-size: 20px;
  margin: auto;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
}

input[type=submit]:hover {
  box-shadow: #333 1px 2px 5px;
}

input[type=submit]:active {
  background-color: #288f36;
}

.edit {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
}

.edit:hover {
  box-shadow: #333 1px 2px 5px;
}

.edit:active {
  background-color: #0056b3;
}

.delete {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
}

.delete:hover {
  box-shadow: #333 1px 2px 5px;
}

.delete:active {
  background-color: #c82333;
}

.update-choice {
  display: flex;
}

.update-choice button {
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: transparent;
  color: #444;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover > td{
  background-color: #ddd;
}

@media screen and (max-width: 820px) {
  #container{
      width: 80%;
      font-size: 3vmax;
  }

  table{
      font-size: 2.5vmin;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  input[type=text], select, .edit, .delete, input[type=submit] {
      font-size: 16px;
  }

  td, th {
      padding: 2px;
  }

  th {
      padding-top: 3px;
      padding-bottom: 3px;
  }
}