{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Todo WebApp</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    
    <div id="main">
      <div id="container">
        <h3>Todo App</h3>
        <form method="post" novalidate>
          {% csrf_token %}
          {{form|crispy}}
          <input type="submit" value="Save">
        </form>
      
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>Todo item</th>
              <th>Created At</th>
              <th>Updated At</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for i in items %}
              {% if i.status|lower == "completed" %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td class="completed">{{ i.item|capfirst }}</td>
                  <td>{{ i.created_at|naturaltime|capfirst }}</td>
                  <td>-</td>
                  <td>{{ i.status }}</td>
                  <td>
                    <button class="edit"><a href="{% url 'update' i.id %}">Edit</a></button>
                    <button class="delete"><a href="{% url 'delete' i.id %}">Delete</a></button>
                  </td>
                </tr>
              {% elif i.is_updated == True %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ i.item|capfirst }}</td>
                  <td>{{ i.created_at|naturaltime|capfirst }}</td>
                  <td>{{ i.updated_at|naturaltime|capfirst }}</td>
                  <td>{{ i.status }}</td>
                  <td>
                    <button class="edit"><a href="{% url 'update' i.id %}">Edit</a></button>
                    <button class="delete"><a href="{% url 'delete' i.id %}">Delete</a></button>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ i.item|capfirst }}</td>
                  <td>{{ i.created_at|naturaltime|capfirst }}</td>
                  <td>-</td>
                  <td>{{ i.status }}</td>
                  <td>
                    <button class="edit"><a href="{% url 'update' i.id %}">Edit</a></button>
                    <button class="delete"><a href="{% url 'delete' i.id %}">Delete</a></button>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
